.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}
.capital {
  text-transform: uppercase;
}
.btn-navy {
  color: #fff;
  background-color: #1a354e;
}
.btn-blue {
  color: #fff;
  background-color: #486072;
}
.btn-lightblue {
  color: #fff;
  background-color: #298bc3;
}
.btn-yellow {
  color: #fff;
  background-color: #5bb12f;
}
.btn-red {
  color: #fff;
  background-color: #bd0102;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-weight: 400;
  margin: 0;
  font-family: Ubuntu;
  font-size: 15px;
  padding: 0;
  /*padding-top: 70px; //For fixed nav*/
  width: 100%;
}
a {
  text-decoration: none;
  color: unset;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  outline: none !important;
}
.bg-nav {
  background-color: rgba(250, 250, 250, 0.4);
}
.transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 70px;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
nav .navbar {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
nav .navbar .ozluy-logo {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  float: left;
  height: 40px;
  display: inline-block;
  padding: 15px 0;
}
nav .navbar .ozluy-logo .ozluy-o {
  border: solid rgba(250, 250, 250, 0.4) 1px;
  width: 34px;
  border-radius: 50%;
  display: inline-block;
  height: 34px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav .navbar .ozluy-logo .ozluy-zluy {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
nav .navbar .navbar-links {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .navbar .navbar-links li {
  float: left;
  padding: 0 15px;
}
nav .navbar .navbar-links li a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
nav .navbar .navbar-links li:first-child {
  padding-left: 0;
}
nav .navbar .navbar-links li:last-child {
  padding-right: 0;
}
nav:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
nav:hover .navbar-links li a {
  color: #a1a1a1;
}
nav:hover .navbar-links li a:hover {
  color: #000;
}
nav:hover .navbar .ozluy-logo .ozluy-o {
  border: solid #000 1px;
}
nav:hover .navbar .ozluy-logo .ozluy-zluy {
  color: #000;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  height: 100%;
}
.vertical-align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-banner {
  position: relative;
}
.home-banner .bx-slider-loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.slider-detail {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: rgba(67, 68, 72, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}
.slider-detail i {
  display: inline-block;
  line-height: 110px;
  width: 20%;
  margin-left: 5%;
  font-size: 40px;
  float: left;
}
.slider-detail span {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75%;
}
.slider-inner-shell {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  top: 40%;
}
footer {
  height: 75px;
  width: 100%;
  float: left;
  background: #1a354e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a354e', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.note-for-template-likers {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
  color: #486072;
}
.note-for-template-likers a {
  color: #bd0102;
  font-weight: 700;
}
section {
  float: left;
  width: 100%;
  padding: 40px 0;
}
.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  float: right;
}
.socials li {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 5px;
}
.socials li a {
  font-size: 25px;
  padding: 10px 10px 4px 10px;
  border-radius: 50%;
  color: #fff;
  border: solid 2px #fff;
}
.socials .social-github:hover {
  border-color: #666;
  color: #666;
}
.socials .social-facebook:hover {
  border-color: #3b5998;
  color: #3b5998;
}
.socials .social-linkedin:hover {
  border-color: #007bb6;
  color: #007bb6;
}
.socials .social-mail:hover {
  border-color: #5bb12f;
  color: #5bb12f;
}
.main-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.copyright {
  color: #fff;
  display: inline;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell {
  float: left;
  width: 100%;
}
.projects-shell .project-item {
  border-radius: 5px;
  overflow: hidden;
  width: calc(25% - 15px);
  margin: 10px;
  float: left;
  height: 250px;
  background: rgba(72, 96, 114, 0.8);
}
.projects-shell .project-item .project-head {
  height: 40px;
  font-weight: 700;
  text-align: center;
  background: #486072;
}
.projects-shell .project-item .project-head div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item .project-body {
  height: 140px;
  padding: 15px;
}
.projects-shell .project-item .project-body div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item .project-footer {
  height: 40px;
  font-weight: 500;
  text-align: center;
  background: rgba(72, 96, 114, 0.6);
}
.projects-shell .project-item .project-footer div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item:nth-child(4n+1) {
  margin-left: 0;
}
.projects-shell .project-item:nth-child(4n) {
  margin-right: 0;
}
.talent-shell {
  width: 100%;
  float: left;
}
.talent-shell .talent-item {
  margin: 10px;
  width: calc(25% - 15px);
  float: left;
}
.talent-shell .talent-item .talent-title {
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
}
.talent-shell .talent-item .talent-percentage {
  height: 25px;
  width: 100%;
  position: relative;
  font-weight: 700;
  text-align: center;
  border: solid 1px #486072;
  border-radius: 5px;
}
.talent-shell .talent-item .talent-percentage .talent-my-percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #486072;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.talent-shell .talent-item:nth-child(4n+1) {
  margin-left: 0;
}
.talent-shell .talent-item:nth-child(4n) {
  margin-right: 0;
}
/*# sourceMappingURL=common.css.map */