*:active {
  outline: none;
}
*:focus {
  outline: none;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /*min-height:100%;*/
}
body {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  font-weight: 400;
  font-family: Ubuntu !important;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /*padding-top: 70px; //For fixed nav*/
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.btn {
  display: inline-block;
  padding: 15px 24px;
  font-weight: 700;
  font-size: 15px;
  font-family: Ubuntu;
  text-align: center;
  border-radius: 5px;
  border: none !important;
  cursor: pointer;
}
.capital {
  text-transform: uppercase;
}
.btn-navy {
  color: #fff;
  background-color: #1a354e;
}
.btn-navy:hover {
  background-color: #132739;
}
.btn-blue {
  color: #fff;
  background-color: #486072;
}
.btn-blue:hover {
  background-color: #3b4f5e;
}
.btn-lightblue {
  color: #fff;
  background-color: #298bc3;
}
.btn-lightblue:hover {
  background-color: #2378a9;
}
.btn-yellow {
  color: #fff;
  background-color: #5bb12f;
}
.btn-yellow:hover {
  background-color: #5ea838;
}
.btn-red {
  color: #fff;
  background-color: #bd0102;
}
.btn-red:hover {
  background-color: #980102;
}
a {
  text-decoration: none;
  color: unset;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  outline: none !important;
}
.bg-nav {
  background-color: rgba(250, 250, 250, 0.4);
}
.transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-hovered {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.nav-hovered .navbar .navbar-links li a {
  color: #a1a1a1;
}
.nav-hovered .navbar .navbar-links li a:hover {
  color: #000;
}
.nav-hovered .navbar .ozluy-logo .ozluy-o {
  border: solid #000 1px;
}
.nav-hovered .navbar .ozluy-logo .ozluy-zluy {
  text-transform: lowercase;
  color: #000;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 70px;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
nav .navbar {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
nav .navbar .ozluy-logo {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  float: left;
  height: 40px;
  display: inline-block;
  padding: 15px 0;
}
nav .navbar .ozluy-logo .ozluy-o {
  border: solid rgba(250, 250, 250, 0.4) 1px;
  width: 34px;
  border-radius: 50%;
  display: inline-block;
  height: 34px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav .navbar .ozluy-logo .ozluy-zluy {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
nav .navbar .navbar-links {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .navbar .navbar-links li {
  float: left;
  padding: 0 15px;
}
nav .navbar .navbar-links li a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
nav .navbar .navbar-links li:first-child {
  padding-left: 0;
}
nav .navbar .navbar-links li:last-child {
  padding-right: 0;
}
nav:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
nav:hover .navbar-links li a {
  color: #a1a1a1;
}
nav:hover .navbar-links li a:hover {
  color: #000;
}
nav:hover .navbar .ozluy-logo .ozluy-o {
  border: solid #000 1px;
}
nav:hover .navbar .ozluy-logo .ozluy-zluy {
  color: #000;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  height: 100%;
}
.vertical-align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-banner {
  position: relative;
}
.home-banner .bx-slider-loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.fork-me-on-github {
  position: absolute;
  right: 0;
  top: 70px;
}
.slider-detail {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: rgba(67, 68, 72, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}
.slider-detail i {
  display: inline-block;
  line-height: 100px;
  width: 20%;
  margin-left: 3%;
  font-size: 40px;
  float: left;
}
.slider-detail span {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75%;
}
.slider-inner-shell {
  position: absolute;
  transform: translate(-50%, 0);
  transform: translateY(-50%);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  left: 50%;
  margin: auto;
  top: 40%;
}
footer {
  height: 75px;
  width: 100%;
  float: left;
  background: #1a354e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1a354e 0%, #1a354e 80%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a354e', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.note-for-template-likers {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
  color: #486072;
  clear: both;
}
.note-for-template-likers a {
  color: #bd0102;
  font-weight: 700;
}
section {
  float: left;
  width: 100%;
  padding: 40px 0;
}
.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  float: right;
}
.socials li {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 5px;
}
.socials li a {
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  color: #fff;
}
.socials li a:hover {
  border-bottom: solid 2px #fff;
}
.socials .social-github:hover {
  border-color: #666;
  color: #666;
}
.socials .social-facebook:hover {
  border-color: #3b5998;
  color: #3b5998;
}
.socials .social-linkedin:hover {
  border-color: #007bb6;
  color: #007bb6;
}
.socials .social-mail:hover {
  border-color: #5bb12f;
  color: #5bb12f;
}
.main-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0 !important;
  font-size: 25px;
  font-weight: 700;
}
.main-title + small {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #486072;
  display: block;
}
.copyright {
  color: #fff;
  display: inline;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell {
  float: left;
  width: 100%;
}
.projects-shell .project-item {
  border-radius: 5px;
  overflow: hidden;
  width: 23%;
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px);
  margin: 10px;
  float: left;
  height: 250px;
  background: rgba(72, 96, 114, 0.8);
}
.projects-shell .project-item .project-head {
  height: 50px;
  font-weight: 700;
  text-align: center;
  background: #486072;
}
.projects-shell .project-item .project-head div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item .project-body {
  height: 120px;
  padding: 15px;
}
.projects-shell .project-item .project-body div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item .project-footer {
  height: 50px;
  font-weight: 300;
  text-align: center;
  background: rgba(72, 96, 114, 0.6);
}
.projects-shell .project-item .project-footer div {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.projects-shell .project-item:nth-child(4n+1) {
  margin-left: 0;
}
.projects-shell .project-item:nth-child(4n) {
  margin-right: 0;
}
.section-talent {
  background-color: #486072;
  color: #fff;
}
.section-talent-technical {
  background-color: #1a354e;
  color: #fff;
}
.section-talent-language {
  background-color: #fff;
  color: #1a354e;
}
.section-talent-language .talent-shell .talent-item .talent-percentage-language {
  border: solid 1px #1a354e;
}
.section-talent-language .talent-shell .talent-item .talent-percentage-language .talent-my-percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #bd0102;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.talent-shell {
  width: 100%;
  float: left;
}
.talent-shell .talent-item {
  margin: 10px;
  width: 23%;
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px);
  float: left;
}
.talent-shell .talent-item .talent-title {
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
}
.talent-shell .talent-item .talent-percentage {
  height: 25px;
  width: 100%;
  position: relative;
  font-weight: 700;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 5px;
  overflow: hidden;
}
.talent-shell .talent-item .talent-percentage .talent-my-percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #5bb12f;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.talent-shell .talent-item:nth-child(4n+1) {
  margin-left: 0;
}
.talent-shell .talent-item:nth-child(4n) {
  margin-right: 0;
}
.section-about {
  color: #486072;
}
.about-shell {
  width: 100%;
  float: left;
}
.about-shell .profile-part {
  display: inline-block;
  float: left;
  width: 300px;
  padding: 0 20px 20px 0;
}
.about-shell .profile-part .profile-img-shell img {
  border-radius: 10%;
  border: solid 5px #486072;
  display: inline-block;
  width: calc(100%- 10px);
}
.about-shell .profile-part .profile-detail-shell h4 small {
  font-weight: 300;
  color: #a1a1a1;
}
.about-shell .about-text {
  float: left;
  width: calc(100% - 335px);
}
.about-shell .about-text .about-text-title {
  float: left;
}
.blog-shell {
  width: 100%;
  float: left;
}
.blog-shell .blog-item {
  margin: 15px;
  width: 31%;
  width: calc(33.3% - 22px);
  float: left;
  -webkit-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  padding: 0 0 20px 0;
  cursor: pointer;
}
.blog-shell .blog-item .blog-item-img-shell {
  float: left;
  width: 100%;
  text-align: center;
}
.blog-shell .blog-item .blog-item-img-shell img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blog-shell .blog-item .blog-item-text-shell {
  float: left;
  width: calc(100% - 30px);
  padding: 0 15px;
}
.blog-shell .blog-item .blog-item-text-shell .title {
  font-size: 20px;
  font-weight: 700;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
}
.blog-shell .blog-item .blog-item-text-shell .limited-text {
  height: 100px;
  overflow: hidden;
  line-height: 20px;
}
.blog-shell .blog-item .blog-item-text-shell .limited-text * {
  padding: 0;
  margin: 0;
}
.blog-shell .blog-item .article-see-more {
  color: #5bb12f;
  padding: 15px 15px 0 15px;
  float: right;
}
.blog-shell .blog-item:nth-child(3n) {
  margin-right: 0;
}
.blog-shell .blog-item:nth-child(3n) .blog-item-img-shell {
  float: right;
}
.blog-shell .blog-item:nth-child(3n) .blog-item-text-shell {
  float: right;
}
.blog-shell .blog-item:nth-child(3n+1) {
  margin-left: 0;
}
.references-shell {
  float: left;
}
.references-shell .reference-item {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.references-shell .reference-item .img-shell {
  width: 50%;
  float: left;
}
.references-shell .reference-item .img-shell img {
  width: 90%;
}
.references-shell .reference-item .text-shell {
  width: 50%;
  float: left;
}
.references-shell .reference-item .text-shell .title {
  font-size: 20px;
}
.references-shell .reference-item:nth-child(even) .img-shell {
  float: right;
}
.references-shell .reference-item:nth-child(even) .text-shell {
  float: right;
}
.bxslider-subpages {
  height: 300px !important;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.bxslider-subpages li {
  height: 300px !important;
  position: relative;
  width: 100%;
}
.contact-shell {
  float: left;
  width: 100%;
}
.contact-shell .contact-form .error {
  color: red;
}
.contact-shell .contact-form input.error {
  border-color: red !important;
}
.contact-shell .contact-form textarea.error {
  border-color: red !important;
}
.contact-shell .contact-form .form-element-left {
  width: 50%;
  float: left;
}
.contact-shell .contact-form .form-element-left label {
  padding-left: 15px;
}
.contact-shell .contact-form .form-element-left > input {
  display: block;
  width: -webkit-calc(95% - 34px);
  width: -moz-calc(95% - 34px);
  width: calc(95% - 34px);
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  border: solid 2px #486072;
  background-color: #486072;
  color: #fff;
  font-family: Ubuntu;
  font-size: 15px;
  margin-top: 15px;
}
.contact-shell .contact-form .form-element-left > input::-webkit-input-placeholder {
  font-weight: 300;
}
.contact-shell .contact-form .form-element-left > input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
}
.contact-shell .contact-form .form-element-left > input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
}
.contact-shell .contact-form .form-element-left > input:-ms-input-placeholder {
  font-weight: 300;
}
.contact-shell .contact-form .form-element-right {
  float: left;
  width: 50%;
}
.contact-shell .contact-form .form-element-right label {
  margin-left: 2.5%;
  padding-left: 30px;
}
.contact-shell .contact-form .form-element-right > textarea {
  margin-top: 15px;
  resize: none;
  margin-left: 5%;
  width: -webkit-calc(95% - 34px);
  width: -moz-calc(95% - 34px);
  width: calc(95% - 34px);
  color: #fff;
  border: solid 2px #486072;
  background-color: #486072;
  height: 149px;
  display: block;
  border-radius: 5px;
  padding: 15px;
  font-family: Ubuntu;
  font-size: 15px;
}
.contact-shell .contact-form .form-element-right > textarea::-webkit-input-placeholder {
  font-weight: 300;
}
.contact-shell .contact-form .form-element-right > textarea:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
}
.contact-shell .contact-form .form-element-right > textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
}
.contact-shell .contact-form .form-element-right > textarea:-ms-input-placeholder {
  font-weight: 300;
}
.contact-shell .contact-form .form-element-right .contact-send-button-shell {
  margin-top: 15px;
}
.contact-shell .contact-form .form-element-right .contact-send-button-shell button {
  float: right;
}
/*# sourceMappingURL=common.css.map */