/* Menu icon styles */
.menu-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 20px 20px;
  pointer-events: none;
  transition: 0.1s;
}
.menu-icon-wrapper.scaled {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.menu-icon-wrapper svg {
  position: absolute;
  top: -33px;
  left: -33px;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.menu-icon-wrapper svg path {
  stroke: #fff;
  stroke-width: 60px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}
.menu-icon-wrapper:hover {
  stroke: #000;
}
.menu-icon-wrapper .menu-icon-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
  outline: none;
}
.info {
  padding: 2em 1em;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5em;
}
.info-img {
  margin: 1em auto 0;
  display: block;
}
/* Device styles */
.device__screen {
  margin-right: -10px !important;
  display: none !important;
  float: right;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-align: left;
  border-radius: 4px 4px 0 0;
}
.see-all-block {
  width: 100%;
  float: left;
  text-align: center;
}
.device__screen {
  background: transparent;
}
.dummy__item {
  height: 3em;
  margin: 1em 1.25em;
  pointer-events: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.dummy__item {
  -webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
  transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.device--alt .dummy__item {
  -webkit-transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
  transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
}
.dummy--active .dummy__item {
  -webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dummy__item:nth-child(4),
.dummy--active .dummy__item:first-child {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Related demos */
.content--related {
  font-weight: bold;
  padding: 4em 1em 2em;
  text-align: center;
  color: #76768E;
  background: #373752;
}
.content--related h3 {
  margin: 0 0 7em;
}
.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.media-item__img {
  max-width: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}
.media-item__title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}
@media screen and (max-width: 50em) {
  .codrops-header h1 {
    font-size: 2.25em;
  }
  .content--related {
    padding: 3em 1em;
  }
  .device {
    width: 100%;
    height: auto;
    background-image: none;
  }
  .device__screen {
    margin: 0;
    border-radius: 0;
  }
}
@media (max-width: 1200px) {
  .talent-shell .talent-item {
    width: calc(33.3% - 15px);
    margin: 10px !important;
  }
  .talent-shell .talent-item:nth-child(3n+1) {
    margin-left: 0 !important;
  }
  .talent-shell .talent-item:nth-child(3n) {
    margin-right: 0 !important;
  }
  .projects-shell .project-item {
    width: calc(33.3% - 15px);
    margin: 10px !important;
  }
  .projects-shell .project-item:nth-child(3n+1) {
    margin-left: 0 !important;
  }
  .projects-shell .project-item:nth-child(3n) {
    margin-right: 0 !important;
  }
  .container {
    width: calc(100% - 30px) !important;
  }
}
@media (max-width: 991px) {
  .blog-shell .blog-item {
    width: calc(50% - 18px);
    margin: 15px !important;
  }
  .blog-shell .blog-item:nth-child(even) {
    margin-right: 0 !important;
  }
  .blog-shell .blog-item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
@media (max-width: 768px) {
  .talent-shell .talent-item {
    width: calc(50.3% - 15px);
    margin: 10px !important;
  }
  .talent-shell .talent-item:nth-child(3n+1) {
    margin-left: 10px !important;
  }
  .talent-shell .talent-item:nth-child(3n) {
    margin-right: 10px !important;
  }
  .talent-shell .talent-item:nth-child(odd) {
    margin-left: 0 !important;
  }
  .talent-shell .talent-item:nth-child(even) {
    margin-right: 0 !important;
  }
  .projects-shell .project-item {
    width: calc(50.3% - 15px);
    margin: 10px !important;
  }
  .projects-shell .project-item:nth-child(3n+1) {
    margin-left: 10px !important;
  }
  .projects-shell .project-item:nth-child(3n) {
    margin-right: 10px !important;
  }
  .projects-shell .project-item:nth-child(odd) {
    margin-left: 0 !important;
  }
  .projects-shell .project-item:nth-child(even) {
    margin-right: 0 !important;
  }
  .about-shell .profile-part {
    width: 100%;
    padding: 0;
  }
  .about-shell .about-text {
    width: 100%;
  }
  .socials {
    width: 100%;
    height: 50%;
  }
  .socials li {
    display: inline;
    float: none;
    position: relative;
    top: 0;
    line-height: 80px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .copyright {
    width: 100%;
    height: 30%;
    position: unset;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    line-height: 40px;
    transform: none;
  }
  footer {
    height: 120px;
    text-align: center;
  }
  .bg-nav {
    background-color: #444444 !important;
  }
  nav .navbar .navbar-links {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    position: fixed;
    top: 70px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    float: none;
    list-style: none;
    margin: 0;
    width: 300px;
    text-align: center;
    background-color: rgba(25, 20, 21, 0.9);
    padding: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    margin-left: -15px;
    height: 100%;
    margin-right: -300px;
  }
  nav .navbar .navbar-links li {
    float: none;
    padding: 20px 0 !important;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.2);
  }
  nav .navbar .navbar-links li > a {
    color: #fff !important;
    padding: 0 0 0 0 !important;
    text-transform: capitalize;
  }
  .device__screen {
    display: inline-block !important;
  }
  nav .navbar .ozluy-logo .ozluy-zluy {
    color: #fff !important;
  }
  nav .navbar .ozluy-logo .ozluy-o {
    border: solid #444444 1px !important;
  }
  nav .navbar .navbar-links-opened {
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    visibility: visible;
  }
  .blog-shell .blog-item {
    width: calc(100% - 2px);
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 500px) {
  .talent-shell .talent-item {
    width: calc(100% - 15px);
    margin: 10px !important;
  }
  .talent-shell .talent-item:nth-child(3n+1) {
    margin-left: 10px !important;
  }
  .talent-shell .talent-item:nth-child(3n) {
    margin-right: 10px !important;
  }
  .talent-shell .talent-item:nth-child(odd) {
    margin-left: 10px !important;
  }
  .talent-shell .talent-item:nth-child(even) {
    margin-right: 10px !important;
  }
  .projects-shell .project-item {
    width: calc(100% - 15px);
    margin: 10px !important;
  }
  .projects-shell .project-item:nth-child(3n+1) {
    margin-left: 10px !important;
  }
  .projects-shell .project-item:nth-child(3n) {
    margin-right: 10px !important;
  }
  .projects-shell .project-item:nth-child(odd) {
    margin-left: 10px !important;
  }
  .projects-shell .project-item:nth-child(even) {
    margin-right: 10px !important;
  }
}
/*# sourceMappingURL=mobile.css.map */