doctype html
html
  head
    block title
    meta(name='viewport' content ='width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300&subset=latin-ext', rel='stylesheet', type='text/css')
    link(href='css/bundle.css', rel='stylesheet', type='text/css')
    link(href='icons/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='shortcut-icon', href='/assets/icons/favicon.ico')
  body
    include ./nav.jade
    block content
    include ./footer.jade
